body{
    overflow-x: hidden;
}
#logo{
    padding-top: 180px;
}
#top{
    background-image: url(../images/h_img.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 100vh;
}
#mouse{
    padding: 100px;
}

#about{
    text-align: center;
    margin-top: 50px;
}

#serv{
    background-size: cover;
    height: 50vh;
    text-align: center;
    color: white;
    padding-top: 80px;
}
#service{
    margin-top: 50px;
}


#work{
    text-align: center;
    margin-top: 50px;
}   

.activities{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 20px;
}
.design-showing, .development-showing, .product-showing{
    display: none;
}
.design-hidden, .development-hidden, .product- hidden{
    cursor: pointer;
}
#portfolio{
    text-align: center;
    margin-top: 50px;
}
.port-image {
    padding: 1em;
}


.text {
    border: 3px solid white;
    color: rgb(172,17,17);
    font-size: 16px;
    height: 150px;
    width: 150px;
    font-size: 30px;
}



#contact{
    text-align: center;
    background-size: cover;
    margin-top: 50px;
    color: white;
    padding-top: 40px;
}
input,textarea,button{
    margin-bottom: 10px;
    padding: 7px 5px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
::placeholder{
    color: white;
}
.btn button{
    padding: 7px 10px;
    width: 150px;
    transition: border 0.2s;
    font-size: 1.2rem;
}
input{
    width: 400px;
}
.contact-us{
    padding-top: 20px;
}
.btn button:hover{
    border: 2px solid lightseagreen;
}

#foot{
    text-align: center;
    margin-top: 50px;
}
.footer-msg p{
    padding-top: 10px;
    font-size: 0.7em;
}
ul>li{
    display: inline-block;
}