/* ========GOOGLE FONTS==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    overflow-x: hidden;
}
#logo{
    padding-top: 180px;
}
#top{
    background-image: url(../images/h_img.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 100vh;
}
#mouse{
    padding: 100px;
}

#about{
    text-align: center;
    margin-top: 50px;
}

#serv{
    background-image: url(../images/s_image.jpg);
    background-size: cover;
    height: 50vh;
    text-align: center;
    color: white;
    padding-top: 80px;
}
#service{
    margin-top: 50px;
}


#work{
    text-align: center;
    margin-top: 50px;
}   

.activities{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 20px;
}

.design-showing, .development-showing, .product-showing{
    none;
}
.design-hidden, .development-hidden, .product-hidden{
    cursor: pointer;

}